body{
  background: rgb(53,101,244);
}

*{
  font-family: 'Oswald', Helvetica, sans-serif;
}

.container{
  margin: auto;
  width: 50%;
  padding: 10px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.4);
  max-width: 500px;
}

.row{
  display: grid;
  justify-items: start;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.4);
}

h1, h2, h3, h4{
  text-align: center;
  font-size: 40px;
  letter-spacing: 4px;
  word-spacing: -8px;
  color: white;  
}

p{
  text-align: center;
  font-size: 20px;
  color: white;  
}

li{ 
  font-size: 20px;
  margin: 10px;
  color: white;
}

li:hover{
  cursor: pointer;
}

.centerEnter{
  text-align: center;
}

#userInput, #enter{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border:  0;
  background-color: #e3e3e3;
}

#enter{
  transition-timing-function: ease-in;
  transition: all 0.2s;
}

#enter:hover{
  cursor: pointer;
  background: #e3d3d3;
}

.deleteButton{
  border-radius: 5px;
  border: 0;
  margin-left: 10px;  
  transition: all 0.1s;  
}

.deleteButton:hover{
  transition: all 0.2s;
  cursor: pointer;
  background: #e3d3d3;
}

.done {
  text-decoration: line-through red 2px;
}
